* {
    margin: 0;
    padding: 0;
}
.card {
    width: 275px;
    margin: 2px;
}

p {
    text-align: justify;
}
.navbar{
    color: white;
	font-weight: 400;
	box-shadow: -48px 9px 20px 8px rgba(0,0,0,0.1);
	background-color: rgba(255, 255, 255, 0.686);
}

.counter {
    background-color: #ADC5D9;
    position: absolute;
    color: white;
    height: 25px;
    width: 25px;
    border-radius: 100%;
    text-align: center;
    top: -12px;
    right: -8px;
    padding: 0px;
}

.trash {
    background-color: white;
    position: absolute;
    color: white;
    height: 30px;
    width: 30px;
    border-radius: 100%;
    text-align: center;
    top: -8px;
    right: -130px; 
    padding-top: 5px;
}

.added {
    opacity: 0.85;
}

.card-text{
    height: 100px;
    overflow: auto;
}

.card-title {
    height: 60px;
}

#btnAdicionar {
    font-family: 'Times New Roman', Times, serif;
    background-color: #F2D377;
    color: black;  
}

.btn:focus{
    box-shadow: none !important;
}

@media screen and (min-width: 400px) and (max-width: 576px){
    .trash {
        background-color: white;
        position: absolute;
        color: white;
        height: 40px;
        width: 40px;
        border-radius: 100%;
        text-align: center;
        top: -8px;
        right: -200px; 
        padding-top: 5px;
    }
}

@media screen and (min-width: 576px) and (max-width: 768px){
    .trash {
        background-color: white;
        position: absolute;
        color: white;
        height: 20px;
        width: 20px;
        border-radius: 100%;
        text-align: center;
        top: -7px;
        right: -75px; 
        padding-top: 5px;
    }
}

@media screen and (min-width: 768px) and (max-width: 992px){
    .trash {
        background-color: white;
        position: absolute;
        color: white;
        height: 20px;
        width: 20px;
        border-radius: 100%;
        text-align: center;
        top: -6px;
        right: -110px; 
        padding-top: 5px;
    }
}

@media screen and (min-width: 400px) and (max-width: 992px) {
    .nav-item {
        padding-top: 5px;
    }
    .meu-carrinho {
        padding-top: 15px;
    }
}


